*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.banner-section{
    background-color:#FFF4E7;
    padding: 45px 0;
    margin-bottom: 22px;
}
.company-name{
    font-size: 45px;
    font-weight: 700;
}
nav ul{
    display: flex;
    
}
nav {
    display: flex;
    justify-content:space-between;
}
.header,.brand-new,.banner-img{
    width: 1440px;
    margin: 0 auto;
}
.items li{
    font-size: 18px;
    margin-left: 20px;
    list-style: none;
}
.header{
    margin-top: 16px;
}
.brand-new{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand-tag{
    font-size: 64px;
    text-align: center;
    font-weight: 700;
}
.brand-desc{
    margin: 24px 0;
    text-align: center;
    line-height: 32px;
}
.explore-more-btn{
    text-decoration: none;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 20px;
    
}
.explore-more-btn a{
    text-decoration: none;
    color:#fff;
}
/* quick list section */
.quick-list-section{
    width: 1240px;
    margin: 0 auto;
    display: flex;
}
.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 20px;
}
.image{
    width: 340px;
}
.features{
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.features p{
    margin: 16px 0;
}
.features-headline{
    font-size: 45px;
    font-weight: 500;
    
}
.features-txt{
    color: #FF900E;
}

/* features-you-will-love */
.features-you-will-love{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.features-left-inside{
    display: flex;
    margin: 10px 10px;
}
.features-left h2{
    font-size: 45px;
    font-weight: 700;
    
}
.line{
    width: 5px;
    background-color: #FF900E;
    height: 106px;
    margin-right: 20px;
}
.item-box{
    margin: 0 10px;
    height: 120px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 14px;
}
.item-box h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.item-box p{
    line-height: 26px;
}
.features-left{
    width: 600px;
    background-color: #F3F3F3;
    border-radius: 8px;
}
.indise-text{
    margin: 10px 10px;
}
.indise-text p{
    line-height: 26px;
}
/* some-facts */

.items{
    display: flex;
    justify-content: space-between;
}

.some-facts,.items{
    width: 1440px;
    margin: 0 auto;
}
.some-facts{
    margin-top: 100px;
    margin-bottom: 100px;
}
.some-facts h2{
    font-size: 45px;
    margin-bottom: 24px;
}
.some-facts p{
    line-height: 26px;
}
.item-card{
    width: 240px;
    height: 240px;
    border: 3px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* sponspor */
.sponspor{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sponspor-list{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
/* footer */
footer{
    width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    padding: 40px;
    border-radius: 8px;
}
footer p{
   text-align: center;
}